*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.payment{
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.payment form{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    margin-left: 30%;
}*/

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.5vw 2vw;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    margin-left: 30%;
}

form button{
    padding: 5px;
    background: #ff5361;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 0px auto 0;
    border-radius: 30px;
}


.payment img{
    height: 38%;
    width: 17%;
    border-radius: 10px;
}

form input{
    border: 0;
    margin: 4px 0;
    padding: 3px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

.draw{
    height: 3%;
    width: 100%;
    background-color: #001660;
}

.draw h2{
   
    margin-left: 15%;
    color: #ff5361;
}